# Ignore Python cache files
__pycache__/
logs/
ouput_ckpts*/
*.sh
core
*.pyc
*.pyo
*.pyd
batch_infer.py
new_infer_old.py
inferance.py
run_lucas_h100.slurm
*.egg-info/
out/
local/
*.tmp
tmp/
adapter_training/nemo/convert_to_hf/log/
demo/WebRTC_app/uploads
demo/WebRTC_app/models