audiomentations==0.34.1
AudioSegment
bitsandbytes
ctranslate2==4.0.0
datasets
dask
dask[dataframe]
faster_whisper
librosa
moshi==0.2.11
nltk
numpy<2.0.0
parler_tts
peft
pydub
python-slugify
pytorch_lightning
soxbindings
soundfile
sphn<0.2
tensorboard
tokenizers==0.20.3
torch
torchaudio
torchvision
transformers
git+https://github.com/openai/whisper.git
py3nvml
unsloth