audiomentations==0.34.1
AudioSegment
bitsandbytes
ctranslate2==4.0.0
datasets
dask
dask[dataframe]
faster_whisper
librosa
nltk
parler_tts
peft
pydub
python-slugify
pytorch_lightning
soxbindings
soundfile
tensorboard
tokenizers==0.20.3
torch
torchaudio
torchvision
transformers
git+https://github.com/openai/whisper.git
py3nvml
unsloth